<!-- <div class="login-container">
  <div class="login-form">
    <h2 class="text-center mb-4">Login</h2>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div> -->
<section
  class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
  style="
    min-height: 100vh;
    background-size: cover;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8ef88e03-6f89-4c75-ae51-f8da7d252358/6ac07e5f-07ca-4543-8540-f22edce8bb02/TW-en-20210208-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  "
>
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-4 col-lg-3 h-50">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="font-family-satisfy glossy ycard-title mt-3 text-center">
              My Movies
            </h4>
            <h2 class="login">
              <span>Login</span>
            </h2>
            <form>
              <div class="mx-4">
                <div class="mb-3">
                  <!-- <label
                  for="exampleFormControlInput1"
                  class="form-label text-left"
                  >Email address</label
                > -->
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Email"
                  />
                </div>
                <div class="mb-3">
                  <!-- <label for="exampleFormControlTextarea1" class="form-label"
                  >Example textarea</label
                > -->
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Password"
                  />
                </div>
                <button type="submit" class="btn btn-success btn-block">
                  Login
                </button>
              </div>
              <!-- <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Create Account
                </button>
              </div> -->
              <p class="my-3 text-center">
                Don't have an account?
                <a href="">Register</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
