.navbar {
  background-color: #212529;
  color: white !important;
  /* height: 75px; */
}
.navbar-toggler {
  background-color: white !important;
}
.navbar-brand {
  color: #ff0000 !important;
  background: #ff0000;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-clip: text;
  /* -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}

.nav-link {
  color: white !important;
}
