<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand font-family-satisfy mx-4" [routerLink]="['/']"
      >My Movies</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="right-container navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['movies']"
          >Movies</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['collections']">My Collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['collections/all']"
          >All Collections</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" [routerLink]="['profile']"
          >Profile</a
        >
      </li>
      <li class="nav-item" (click)="logout()">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">
          <fa-icon [icon]="faRightFromBracket"></fa-icon>
          Sign out</a
        >
      </li>
    </ul>
  </div>
</nav>
