<app-hero-section
  title="{{ heroTitle }}"
  content="{{ heroContent }}"
></app-hero-section>
<div class="container-fluid px-4">
  <div class="d-flex justify-content-end mt-3 w-100">
    <h1 *ngIf="showToast">Hello</h1>
    <div class="my-auto">
      <app-results-count
        [offset]="offset"
        [totalPages]="totalPages"
        [totalRecords]="totalMovieCount"
        [results]="movies.length"
      ></app-results-count>
    </div>
    <app-search (onSearch)="getMovies($event)"></app-search>
  </div>
  <app-movie-table
    [movies]="movies"
    [addToCollection]="addToCollection"
    source="{{ sourceTypes.movie }}"
  ></app-movie-table>
  <app-pagination
    [currentPage]="offset"
    [totalPages]="totalPages"
    (pageChanged)="setCurrentPage($event)"
  ></app-pagination>
</div>
