<div class="container-fluid">
  <h1>Movies</h1>
  <section class="px-2"></section>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Released Year</th>
        <th>Run time(Minutes)</th>
        <th>Genres</th>
        <th>Add to Collection</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.runTimeInMinutes }}</td>
        <td>{{ movie.genres.join(", ") }}</td>
        <th><fa-icon [icon]="faHeart" color="red"></fa-icon></th>
      </tr>
    </tbody>
  </table>
  <!-- <app-movie-table-row
        *ngFor="let movie of movies"
        [movie]="movie"
      ></app-movie-table-row> -->
</div>
