<section
  class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark signup-container"
>
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-4 col-lg-3 h-50">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="font-family-satisfy glossy ycard-title mt-3 text-center">
              My Movies
            </h4>
            <h2 class="signup">
              <span>Sign up</span>
            </h2>
            <form (ngSubmit)="register()" [formGroup]="form" autocomplete="off">
              <div class="mx-4">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                  />
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">
                  Sign up
                </button>
              </div>
              <p class="my-3 text-center">
                Already have an account?
                <a [routerLink]="['/login']">Sign in</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
